<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyly.user.mapper.UserMapper">
    
    <insert id="addUser" parameterType="com.anyly.user.model.UserEntity">
        INSERT INTO user (name,balance) VALUES (#{name},#{balance})
    </insert>
    
    <select id="allUser" resultType="com.anyly.user.model.UserEntity">
        select
        id,
        name,
        balance
        from
        user
    </select>
</mapper>